/*The following css code is purely for the layout of each individual screens repetitive code */
*{
    margin: 0;
}

.page{
    min-height: calc(100vh - 45px - 180px);
}

header{
    width: 100%;
    background-color: black;
    color: white;
    height: 45px;
}

header .pageTitle{
    padding: 5px;
    font-size: 30px;
    float: left;
}

header .profileLogo{
    float: right;
    filter: invert(100%);
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-right: 30px;
}

header .pageIcon{
    width: 40px;
    height: 40px;
    float: left;
}

header .shoppingCartIcon{
    float: right;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    filter: invert(100%);
    margin-top: 5px;
}

header .navbar{
    width: 600px;
    margin-top: -5px;
}


header .navbar li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
}

header .navbar li a{
    font-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 2s;
}

header .navbar li a:hover{
    color: #40E0D0;
}

.pageOpening{
    height: 800px;
}

.pageOpening .pageMainImage{
    width: 100%;
    height: 800px;
    position: absolute;
}

.pageOpening .pageMainText{
    color: white;
    position: absolute;
    margin-top: 200px;
    margin-left: 40px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}

.pagesFooter{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
}

.pagesFooter p{
    font-size: 15px;
}

.pageContent{
    margin-top: 30px;
    text-align: center;
}

/*This css code is now specific to the signup page */
.pageContent #signupForm{
    width: 400px;
    margin: 0 auto;
}

.pageContent #signupForm #firstNameP{
    float: left;
}
.pageContent #signupForm #lastNameP{
    float: right;
}

.pageContent #signupForm #fName{
    float: left;
    margin-bottom: 10px;
}
.pageContent #signupForm #lName{
    float: right;
    margin-bottom: 10px;
}

.pageContent #signupForm #emailP{
    margin-top: 30px;
}

.pageContent #signupForm #email, .pageContent #signupForm #password, .pageContent #signupForm #confirmPassword {
    width: 380px;
}

.pageContent #signupForm .textInput{
    border-radius: 5px;
    border: .5px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.pageContent #signupForm .submitButton{
    width: 400px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    transition: 2s;
    margin-bottom: 40px;
}

.pageContent #signupForm .submitButton:hover{
    color: black;
    background-color: white;
}

.pageContent #signupForm #checkbox, .pageContent #signupForm #checkboxP{
    display: inline;
}
.pageContent #signupForm #passwordHelp{
    font-size: 10px;
}

/*This is the css section used to design the slideshow page*/
.pageContent #slideshowLocation{
    width: 400px;
    height: 550px;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 30px;
}

.pageContent #slideshowLocation img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.pageContent #slideshowLocation #backButton{
    position: absolute;
    float: left;
    padding: 1px;
    width: 50px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
}
.pageContent #slideshowLocation #nextButton{
    position: absolute;
    float: right;
    padding: 1px;
    margin-left: 70px;
    width: 50px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
}

.pageContent #slideshowLocation p{
    margin-top: 10px;
}

.pageContent #thumbnails{
    width: 240px;
    margin: 0 auto;
    margin-top: 5px;
    margin-left: -20px;
}

.pageContent #thumbnails .thumbImages{
    float: left;
    margin-left: 40px;
} 

.pageContent  #thumbnails img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

/*This is the css required for the data page*/
.createdDivs{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 0.5px solid black;
    width: 400px;
    height: 600px;
    border-radius: 5px;
    display: inline-block;
}

.createdDivs img{
    width: 300px;
    height: 400px;
    border-radius: 5px;
}

.createdDivs p, h4, h5{
    margin-top: 15px;
    margin-bottom: 15px;
}

.createdDivs input[type=submit]{
    background-color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

  /*This is the css required for the cart page*/
.pageContent #cartDiv{
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 5px;
}

.pageContent #cartDiv #currentNumber{
    margin-top: 10px;
    margin-bottom: 10px;
}

.pageContent #cartDiv input[type=submit]{
    width: 200px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    transition: 2s;
}
.pageContent #cartDiv input[type=submit]:hover{
    color: black;
    background-color: white;
}

/*This is the css code required for the profile page*/
.pageContent #signinDiv, .pageContent #userDetails{
    width: 400px;
    height: 260px;
    margin: 0 auto;
    padding: 20px;
    border: .5px solid black;
    border-radius: 5px;
    margin-top: 20px;
}

.pageContent #userDetails{
    height: 350px;
}

.pageContent #signupDiv p, .pageContent #userDetails p{
    margin-top: 20px;
}

.pageContent #signinDiv input, .pageContent #userDetails input{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 90%;
    border: .5px solid black;
}

.pageContent #signinDiv input[type=submit], .pageContent #userDetails input[type=submit]{
    color: white;
    background-color: black;
    margin-top: 40px;
    transition: 2s;
}

.pageContent #signinDiv input[type=submi]:hover, .pageContent #userDetails input[type=submit]:hover{
    color: black;
    background-color: white;
}

/* This is the css needed for th admin page */
.pageContent #alterProducts, .pageContent #alterUsers, .pageContent #usersDetails{
    border: .5px solid black;
    border-radius: 5px;
    width: 400px;
    padding: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    float: left;
}

.pageContent #alterProducts input, .pageContent #alterProducts select, .pageContent #alterUsers input, .pageContent #alterUsers select, .pageContent #usersDetails select, .pageContent #usersDetails input{
    margin-top: 10px;
    padding: 10px;
    border: .5px solid black;
    border-radius: 5px;
    width: 90%;
}

.pageContent #alterProducts #deleteProducts, .pageContent #alterProducts #addProducts, .pageContent #alterUsers #addUsers, .pageContent #alterUsers #removeUsers{
    border: .5px solid black;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.pageContent #alterProducts input[type=submit], .pageContent #alterUsers input[type=submit], .pageContent #usersDetails input[type=submit]{
    color: white;
    background-color: black;
    transition: 2s;
    border: none;
}

.pageContent #alterProducts input[type=submit]:hover, .pageContent #alterUsers input[type=submit]:hover, .pageContent #usersDetails input[type=submit]:hover{
    color: black;
    background-color: white;
}

/* This is the css needed for the report page */
.pageContent #reportPage{
    width: 400px;
    margin: 0 auto;
}

/* This is the css needed for the products page */
.pageContent #innerContentDiv #productSubmit{
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
    padding: 10px;
    transition: 2s;
}

.pageContent #innerContentDiv #productSubmit:hover{
    color: black;
    background-color: white;
}

.pageContent #innerContentDiv #productDescription{
    width: 20%;
    margin: 0 auto;
    margin-top: 20px;
}